/* .work-card {
  background-color: #6fdcbf;
  margin: 55px;
  display: flex;
  justify-content: center;
} */

/* .box {
  background-color: white;
  margin: 20px;
  padding: 10px;
  list-style: none;
  font-weight: 400;
  font-size: 25px;
} */
.home-card {
  color: #4c3a69;
  padding: 3em;
  text-align: center;
  font-size: 23px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.image-card {
  border: 14px dotted #4c3a69;
}

.text-card{
  text-shadow: 5px 5px 9px rgba(78, 21, 79, 0.4);
color: #4c3a69;
}